@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.header2{
  height: 0;
  overflow: hidden;
}

header{
  background: currentColor;
  width: 100%;
  height: 6em;
  box-shadow: 0px 0px 8px 3px #00000080;
  padding: 10px 20px;
  z-index: 1059;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #ebb24b;
}

.imgContainer{
  display: flex;
  align-items: center;
}

.imgContainer img{
  width: 74px;
}

.imgContainer span{
  display: block;
}

.imgTitle{
  margin-left: 12px;
  color: #f8f8f8;
  font-size: 1.6em;
  font-weight: 400;
}

.imgTitle .farmer_Registration{
  font-size: 1rem;
  position: relative;
  letter-spacing: 0.05em;
}

.imgTitle .farmer_Registration::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #ebb24b;
  border-radius: 100%;
  bottom: -4px;
}

.imgTitle .farmer_Registration::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #000000;
  border-radius: 100%;
  top: 12px;
}

.imgTitle .system{
  letter-spacing: 0.49em;
  text-align: center;
  color: #f8f8f8;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  font-size: 1.3rem;
}

.emblem{
  width: 9%;
  /* position: absolute; */
  top: 20px;
  /* left: 30px; */
  filter: drop-shadow(0px 0px 8px rgb(255 255 255 / 60%));
}

.lang{
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: center;
}

.lang .input-field{
  padding:0;
}

.stateSelect select{
  appearance: none;
  padding: 0 10px;
  width: 100%;
}

.fa-globe{
  line-height: 0 !important;
  pointer-events: none;
  color: #5995fd !important;
  font-size: 2rem !important;
  padding-right: 5px;
}

.stateSelect_left{
  right: 0;
}

.stateSelect_right{
  left: 0;
}

.stateSelect_left,.stateSelect_right{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 0;
  transition: all 0.2s;
}

.lang .stateSelect::after{
  display: none;
}

/* #lang .stateSelect select option[value=0]{
  font-size: 12px;
} */

#lang1.active .stateSelect,#lang2.active .stateSelect{
  width: 100% !important;
}

#lang1.active .stateSelect::after,#lang2.active .stateSelect::after{
  display: block;
}