#tab-content-wrapper{
  overflow-x: hidden;
  width: 100%;
  background: #f8f8f8 !important;
}

.nav-tabs {
  background: #f0fffd;
}

.nav-tabs {
  display: none;
}

.panel_heading{
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #363636;
}

.details_Container{
  min-height: calc(100vh - 96px);
}

.radio input[type="radio"] + .radio-label:before {
  width: 2em !important;
  height: 1.3em !important;
}

.radio-field-btn{
  width: 50% !important;
  display: flex;
  justify-content: space-between;
}

.radioBtnBox{
  display: flex;
}

.radioBtnBox label{
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 1.1rem;
}

#rural,#urban{
  margin: 5px 10px 0 0;
}

.points{
  font-family: 'Nunito',sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  align-items: baseline;
}

.desc p{
  font-family: 'Quicksand',sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.selectCover{
  position: relative;
  display: flex;
  align-items: center;
}

/* .selectCover::after{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 10px;
  top: 14px;
  color: #808080;
  pointer-events: none;
} */

.instruct{
  text-decoration: underline;
  color: #4182bb;
  font-size: 15px;
  letter-spacing: 0.099em;
  cursor: pointer;
}

.detailed_Instruct{
  display: none;
  background: aliceblue;
  border: 1px solid;
  padding: 10px 20px;
  width: 350px;
  z-index: 99;
  transition: all 250ms ease-in-out;
}

.detailed_Instruct.active{
   display: block;
}

.cancelBtn{
  background: #c82333 !important;
}

.addButton{
  display: flex;
}

.addBtn{
  padding: 3px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.addBtn:focus{
    outline: 0;
    border: 0;
    box-shadow: none !important;
}

.shadowed{
  width: 100%;
    /* box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    padding: 14px 10px; */
}

.serial{
  font-family: 'Montserrat'; 
  font-size: 16px; 
  margin-right: 8px;
}

@media (min-width: 768px) {
  .nav-tabs {
    display: flex;
    flex-flow: column nowrap;
  }
  .nav-tabs {
    border-bottom: none;
    border-right: 1px solid #ddd;
    display: flex;
  }
  .nav-tabs {
    /* margin: 0 15px; */
  }
  .nav-tabs .nav-item + .nav-item {
    margin-top: 0.25rem;
  }
  .nav-tabs .nav-link {
    transition: border-color 0.125s ease-in;
    white-space: nowrap;
    color: #363636;
  }
  .nav-tabs .nav-link:hover {
    background-color: #f7f7f7;
    border-color: transparent;
  }
  .nav-tabs .nav-link.active {
    /* border-bottom-color: #ddd;
    border-right-color: #fff;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0; */
    margin-right: -1px;
    background: cadetblue;
    color: #f2f2f2;
  }
  .nav-tabs .nav-link.active:hover {
    background: cadetblue;
    /* border-color: #0275d8 #fff #0275d8 #0275d8; */
    color: #f2f2f2;
  }

  .card {
    border: none;
  }

  .card .card-header {
    display: none;
  }

  .card .collapse {
    display: block;
  }
}

@media (max-width: 767px) {
  .tab-pane {
    display: block !important;
    opacity: 1;
  }
}


.myaccordion {
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}